<div class="card">

<div class="card">
    <!-- Mostrar detalles del PQRS si existe -->
    <div *ngIf="pqrs">
      <label>ID:</label>
      <p>{{pqrs.idPQRS}}</p>

      <label>Código consulta:</label>
      <p>{{pqrs.idConsulta}}</p>

      <<label>Fecha Inicio:</label>
      <p>{{pqrs.asunto | date: 'medium'}}</p>

      <label>Fecha Finalizacion:</label>
      <p>{{pqrs.fechaCreacion | date:'medium'}}</p>

      <label>Estado:</label>
      <p>{{pqrs.tipoPQRS}}</p>

      <label>Gerente del proyecto:</label>
      <p>{{pqrs.estadoPQRS}}</p>

<!--      <input class="subir-foto" type="file" formControlName="photo" accept=".application/pdf"-->
<!--             (change)="onFileChange($event)"/>-->

      <button class="btn-customize-pr"  type="submit"  >Modificar</button>

</div>
</div>
</div>
